@import 'https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911';

body {
  margin: 50px;
  font-size: 20px;
  font-family: 'Goudy Bookletter 1911', 'Times New Roman', serif;
  letter-spacing: 0.6px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  max-width: 512px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
}

#logo {
  max-width: 64%;
  display: block;
  margin: 0 auto 50px;
}

#logo.inside {
  max-width: 100px;
}

#links {
  display: block;
  margin-bottom: 50px;
}

#links a {
  margin: 0 20px;
  color: deeppink;
}

#links a:hover {
  text-decoration: underline;
}

p {
  text-align: left;
  line-height: 1.4em;
  color: #333;
  line-height: 1.5em;
}

.highlight pre {
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 0;
  margin: 30px 0;
}

#docs-list,
#blog-list {
  list-style: none;
  padding: 0;
}

#docs-list li,
#blog-list li {
  margin: 15px 0;
}

#blog-list .date {
  font-size: 0.7em;
  display: block;
  opacity: 0.7;
}

.center {
  text-align: center;
}

#cam {
  width: 32px;
  margin-top: 50px;
  border-radius: 32px;
}

